*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
   height: 120px;
    transition: all 0.5s;

}


.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(4, 66, 2);
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}
.nav-link:hover{
    color: black;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.5s;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid rgb(248, 26, 92);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background:rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.btn0:hover{
    background-color: rgba(248, 26, 93, 0.829);
}
.main{
    background:linear-gradient(rgb(84, 88, 80), transparent, rgb(85, 77, 77)), url("./img/masthead4.jpg")no-repeat;
    height: 90vh;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Special Elite', cursive;
}
.btn1{
    height: 50px;
    width: 25%;
    border: none;
    outline: none;
    background-color: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
.btn1:hover{
    background-color: rgba(248, 26, 93, 0.829);
}
@media only screen and (max-width:576px){
    .main{
        background-position: right;
        height: 100vh;
        width: 100%;
        background-position: 50% 50%;
        background-size: cover;
        
    }
    .main h1{
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Special Elite', cursive;
    }
    .btn1{
        height: 40px;
        width: 50%;
        border: none;
        outline: none;
        background-color: rgb(248, 26, 92);
        color: white;
        font-weight: 700;
        border-radius: 60px;
    }
    .btn1:hover{
        background-color: rgba(248, 26, 93, 0.829);
    }
}

.img-fluid1{
    height: 200px;
    transition: all 0.5s;
}

.img-fluid1:hover{
    height: 220px;
    transform: scale(0.7, 0.7);
    
}

h1{
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
}
.card{
    border-radius: 20px;
}
.card:hover{
    -webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.96); 
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.96);
    transition: 0.4s;
}
.img2{
    font-family: 'Special Elite', cursive;
}
.apple{
    background: linear-gradient(rgb(41, 43, 40), transparent, rgb(41, 39, 39)), url("./img/healtyfood.jpg")no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
@media only screen and (max-width:576px){
    .apple{
        background-position: right;
        height: 100vh;
        width: 100%;
        background-position: 50% 50%;
        background-size: cover;
        
    }
}
/* footer */

.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}